// Base adaptive

@media screen and (max-width: 1280px) {

	.container {
		width: 90%;
	}
	.block-inner {
		width: 90%;
	}
}

// Blocks adaptive

@media screen and (max-width: 1280px) {

	.block-icons {

		.block-icons-icon {

			img {
				width: 100px;
			}
		}
	}
}