*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
div:after,
header:after,
footer:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
	color: @mainColor;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1, h2 {
	margin: 0 0 25px;
	line-height: 48px;
	font-size: @h1Size;
}

h3 {
	margin: 50px 0;
	font-size: @h3Size;
}

p {
	max-width: 1100px;
	margin: 0;
	line-height: 25px;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.container {
	position: relative;
	width: @containerSize;
	max-width: @containerMaxSize;
	margin: 0 auto;
	//padding: 0 15px;
}

body {
	position: relative;
	color: @blackColor;
	font-family: @fontFamily;
	font-size: @fontSize;
	font-weight: 300;
}

strong, b, .strong {
	font-weight: 700;
}