.blue-bg {
	background: @mainColor;
	color: @whiteColor;
}

.white-bg {
	background: @whiteColor;
}

.grey-bg {
	background: @lightgreyColor;
}

.shadow-inner {
	box-shadow: inset 0 5px 10px 0 fade(#323232, 15%);
}

.block {

	.block-inner {
		.container;

		padding: @blockPadding;
		text-align: center;
	}
	article p,
	.block-inner article p {
		margin: 25px auto;
		font-size: @fontSmallSize;
	}
}

.blue-bg.blue-bg-1 {
	background: url('../../img/prod/blueblock1.png') no-repeat fixed;
}
.blue-bg.blue-bg-2 {
	background: url('../../img/prod/blueblock2.png') no-repeat fixed;
}
.blue-bg.blue-bg-3 {
	background: url('../../img/prod/blueblock3.png') no-repeat fixed;
}

.blue-bg-1,
.blue-bg-2,
.blue-bg-3 {
	background-size: cover !important;

	.blue-bg-overlay {
		background: fade(@mainColor, 55%);
	}
	p {

		a {
			color: @linkOnWhiteColor;
			border-bottom: 1px solid @linkOnWhiteColor;
		}
	}
}

.block-icons {
	margin: @hMargin2x;

	.block-icons-icon {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;

		p {
			width: 90%;
			margin: 15px auto 0;
			font-size: @fontSmallSize;
		}
		a {
			text-decoration: none;
			border-bottom: none;
		}
	}
	&.block-icons-2 .block-icons-icon {
		width: 50%;
	}
	&.block-icons-3 .block-icons-icon {
		width: 33.333333333333%;
	}
	&.block-icons-4 .block-icons-icon {
		width: 25%;
	}
	&.block-icons-5 .block-icons-icon {
		width: 20%;
	}
	&.block-icons-6 .block-icons-icon {
		width: 16.66666666666667%;
	}
}

.blue-bg {

	.block-icons {

		.block-icons-icon {

			a {
				color: @whiteColor;
			}
		}
	}
	a {
		color: @whiteColor;
		border-bottom: 1px solid @whiteColor;
	}
	a:hover {
		border-bottom-color: transparent;
	}
}

.grey-bg,
.white-bg {

	.block-icons {

		.block-icons-icon {

			a {
				color: @mainColor;
			}
		}
	}
	a {
		color: @mainColor;
		border-bottom: 1px solid @mainColor;
	}
	a:hover {
		border-bottom-color: transparent;
	}
	h3 {
		color: @greyColor;
	}

}

.block-buttons {
	padding: 50px 0 0;

	.button {
		display: inline-block;
		margin: 0 25px;
		vertical-align: top;
	}
}

.block-brands {
	margin: 75px 0 0;

	.block-brands-brand {
		display: inline-block;
		width: 25%;
		height: 120px;
		margin-right: -4px;
		vertical-align: middle;

		a {
			vertical-align: middle;
			border-bottom: none;
		}
		img {
			max-width: 100%;
		}
	}
}

// Services blocks
.block-service {

	.block-service-leftcol,
	.block-service-rightcol {
		display: inline-block;
		width: 50%;
		margin-right: -4px;
		padding: @blockPadding;
		vertical-align: top;

		article {
			font-size: @fontSmallSize;
		}
		img {
			max-width: 100%;
		}
		h1, h2 {
			line-height: inherit;
		}
	}
	.block-service-leftcol {

		article, h2, h3 {
			text-align: right;
		}
	}
	.block-service-leftcol.block-service-text {
		padding-left: 10%;
	}
	.block-service-rightcol.block-service-img {
		text-align: left;
	}
	.block-service-rightcol {

		article, h2, h3 {
			text-align: left;
		}
	}
	.block-service-rightcol.block-service-text {
		padding-right: 10%;
	}
	.block-service-rightcol.block-service-img {
		text-align: right;
	}
}