.button {
    position: relative;
    display: block;
    width: 170px;
    height: 50px;
    background: 0 0;
    border-radius: 5px;
    transition: all .2s ease;
    text-align: center;
    text-decoration: none;

    .text {
        line-height: 46px;
    }
    .outline {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 170px;
        height: 50px;
        border-radius: 5px;
        transition: all .3s ease;
        opacity: 0;
        z-index: 8;
    }
    &:hover .outline {
        opacity: 1;
        top: -7px;
        left: -7px;
        width: 182px;
        height: 62px;
    }
}

.button-blue {
    border: 1px solid @mainColor;

    .text {
        color: @mainColor;
    }
    .outline {
        background: url(../../img/btn-blue-bg.png) center center no-repeat;
        background-size: 100% 100%;
    }
    &:hover {
        background: @mainColor;

        .text {
            color: @whiteColor;
        }
    }
}

.button-white {
    border: 1px solid @whiteColor;
    
    .text {
        color: @whiteColor;
    }
    .outline {
        background: url(../../img/btn-bg.png) center center no-repeat;
        background-size: 100% 100%;
    }
    &:hover {
        background: @whiteColor;

        .text {
            color: @mainColor;
        }
    }
}

.button-green {
    width: auto;
    line-height: 46px;
    color: @whiteColor;
    background: @greenColor;
    border: 1px solid @greenColor;
    
    .outline {
        background: url(../../img/btn-green-bg.png) center center no-repeat;
        background-size: 100% 100%;
    }

    &:hover {
        background: transparent;

        .text {
            color: @greenColor;
        }
    }
}