header {
	height: 65px;
	padding: 7px 0 8px;
	background: @whiteColor;
}
header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: fade(@whiteColor, 93%);
	z-index: 10;
}

.header-menu {
	margin-top: 10px;

	ul {

		li {
			display: inline-block;
			vertical-align: top;
			margin-right: 15px;

			a {
				display: block;
				padding: 5px;
				color: @blackColor;
				font-weight: 300;
				text-decoration: none;
			}
			a:hover,
			a.active {
				color: @mainColor;
			}
		}

		li:last-child {
			margin-right: -4px;
		}
	}
}