.index-team {
	position: relative;
	
	.team-img-wrapper {
		width: 100%;
		height: 500px;
		margin-top: -100px;
		overflow: hidden;
	}
	.team-img-wrapper + .block-inner {
		padding-top: 0;

		p {
			margin-top: 50px;
			margin-bottom: 0;
		}
	}
	.team-img {
		position: relative;
		width: 1920px;
		height: 500px;
		left: 50%;
		margin-left: -960px;
	}
}

.main-slider,
.main-slider .slider-slide {
	position: relative;
	height: 480px;
	overflow: hidden;
}

.slider-slide img {
	position: absolute;
	width: 1920px !important;
	height: 480px;
	left: 50%;
	margin-left: -960px;
}

// Soft page
.soft-page {
	font-size: @fontSmallSize;
}

.soft-halfcol {
	display: inline-block;
	width: 320px;
	margin-right: -4px;
	padding-left: 50px;
	text-align: left;
	vertical-align: top;

	p:before {
		content: '•';
		margin-right: 5px;
		font-size: 20px;
	}
	h4 {
		margin: 10px 0;
		font-weight: 400;
		font-size: @fontSize;
	}
}

.soft-php {

	.soft-halfcol {
		width: 500px;

		p:before {
			content: none;
		}
	}
}

.soft-mobile {

	.textblock {
		margin: 50px 0 0;
	}
}

// Price page
table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}

table, tr, td {
	border: 1px solid #f4f4f4;
}

td {
	padding: 8px;
}

table ul {
	list-style: none !important;
}

.table-web tr:first-child td,
.table-hosting tr:first-child td,
.table-promotion tr:first-child td {
	padding: 17px;
}

// Blog page
.blog-page {

	h1, h2 {
		margin-bottom: 0;
	}
}

.blog {
	
	.blog-leftcol,
	.blog-rightcol {
		display: inline-block;
		margin-right: -4px;
		text-align: left;
		vertical-align: top;
	}
	.blog-leftcol {
		width: 65%;
		padding-right: 25px;
	}
	.blog-rightcol {
		width: 35%;
		padding-left: 25px;
	}
	.blog-post {

		img {
			width: 100%;
		}
		a {
			border-bottom: none;
		}

		.blog-title {
			margin: 25px 0;

			a {
				color: @greyColor;
			}
		}
		.blog-author {
			margin: 0;
			font-size: @fontSmallerSize;

			span {
				color: @greyColor;
			}
		}
		hr {
			width: 50px;
			height: 1px;
			border: none;
			box-shadow: none;
			background: @blackestColor;
			float: left;
		}
		.blog-more:after {
			content: '';
			opacity: 0;
			transition: all 0.3s ease;
		}
		.blog-more:hover:after {
			content: '→';
			margin-left: 5px;
			opacity: 1;
			transition: all 0.3s ease;
		}
	}
}