@mainColor: #0099dc;
@whiteColor: #fff;
@greenColor: #55cb06;
@lightgreyColor: #eee;
@greyColor: #999;
@blackColor: #4c4c4c;
@blackestColor: #000;
@linkOnWhiteColor: #85d7fb;

@containerSize: 75%;
@containerMinSize: 100%;
@containerMaxSize: 1440px;
@blockPadding: 100px 0;

@hMargin: 25px 0;
@hMargin2x: 50px 0;

@fontFamily: 'Ubuntu', 'Arial', sans-serif;
@h1Size: 64px;
@h3Size: 22px;
@fontSize: 18px;
@fontSmallSize: 16px;
@fontSmallerSize: 14px;

@font-face {
    font-family: si;
    src: url('../../fonts/socicon.eot');
    src: url('../../fonts/socicon.eot?#iefix') format('embedded-opentype'),
    	 url('../../fonts//socicon.woff') format('woff'),
    	 url('../../fonts/socicon.ttf') format('truetype'),
    	 url('../../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: 400;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: si;
        src: url('../../fonts/socicon.svg') format('svg')
    }
}